.country-list {
  text-align: left;
  font-size: 25px;
  line-height: 1.5;
  padding: 0 100px;
  color: darkslategrey;
}
.language-item{
  list-style: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.languages-list{
  display: block;
}